* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
  background-color: #0a0b25;
  color: #f6125e;
}

.title {
  font-size: 18px;
}

.button {
  padding: 8px 16px;
  color: #eee;
  border: 0;
  border-radius: 16px;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  background-color: #f6125e;
}
